<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<footer class="footer">

<div class="footer-container">

<!-- LOGO -->
<h2 class="logo">
<span class="i">B</span>LISS
</h2>


<!-- SOCIAL ICONS -->
<div class="social-icons">

<a href="#"><i class="fab fa-twitter"></i></a>
<a href="#"><i class="fab fa-facebook-f"></i></a>
<a href="#"><i class="fab fa-linkedin-in"></i></a>
<a href="#"><i class="fab fa-instagram"></i></a>

</div>


<!-- INFO SECTION -->
<div class="footer-info">

<div class="contact">

<h3>Get In Touch</h3>

<p>Bypass Rd, Ponmeni, Madurai, Tamil Nadu 625016</p>
<p>+91 93446 61752</p>

</div>


<div class="divider"></div>


<div class="hours">

<h3>Opening Hours</h3>

<p>Tue – Sun, 5PM – 10PM</p>
<p>Munday: Closed</p>

</div>

</div>


<!-- COPYRIGHT -->
<p class="copyright">

© <span>Domain</span>. All Rights Reserved.

</p>

</div>

</footer>