<section class="specialties">

<div class="decorative-top"></div>

<div class="specialties-container">

<div class="section-header">
<h2>Our Specialties</h2>
</div>


<div class="items-grid">

<!-- ITEM 1 -->

<div class="specialty-item">

<div class="badge">
<img src="assets/products/ocassion-cake.jpg">
</div>

<h3>Occasion Cakes</h3>

<p>
Beautifully crafted cakes perfect for birthdays,
weddings, and special celebrations.
</p>

</div>


<!-- ITEM 2 -->

<div class="specialty-item">

<div class="badge">
<img src="assets/products/cup-cake.avif">
</div>

<h3>Cupcakes</h3>

<p>
Soft, fluffy cupcakes topped with creamy frosting
and delightful decorations.
</p>

</div>


<!-- ITEM 3 -->

<div class="specialty-item">

<div class="badge">
<img src="assets/products/brownie.jpg">
</div>

<h3>Browines</h3>

<p>
Rich chocolate brownies with a soft center
and delicious fudgy texture.
</p>

</div>


<!-- ITEM 4 -->

<div class="specialty-item">

<div class="badge">
<img src="assets/products/tres-leches.jpg">
</div>

<h3>Tres Leaches</h3>

<p>
Soft sponge cake soaked in three kinds of milk
with a rich, creamy and delicate sweetness.
</p>

</div>

</div>

</div>

<div class="decorative-bottom"></div>

</section>