<section class="creations">

<div class="section-header">

<div class="line"></div>
<div class="icon"></div>
<div class="line"></div>

</div>

<h2>Our Creations</h2>


<div class="gallery">

<div class="gallery-item">
<img src="assets/cake1.jpg">
</div>

<div class="gallery-item">
<img src="assets/macaron.jpg">
</div>

<div class="gallery-item">
<img src="assets/macaron2.jpg">
</div>

<div class="gallery-item">
<img src="assets/macaron3.jpg">
</div>

<div class="gallery-item">
<img src="assets/cupcake1.jpg">
</div>

<div class="gallery-item">
<img src="assets/cupcake2.jpg">
</div>

<div class="gallery-item">
<img src="assets/cupcake3.jpg">
</div>

<div class="gallery-item">
<img src="assets/cupcake4.jpg">
</div>

</div>

</section>